<!-- your html code here -->


<div class="container-fluid">
    <div class="row bg-light d-flex">
        <div class="col-sm-12 col-md-5 col-lg-3 align-bottom text-center p-5 m-5">
            <img src="./assets/img/2.jpg" class="img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-7">
            <h1 class="text-start fw-bold">The Second Heading <span class="sombra text-muted ">is Pretty Cool Too.</span> </h1>
            <p class="text-start fs-6">Lorem, ipsum dolnor sit amet consectetur adipisicing elit. Provident libero corrupti dicta aperiam quae quidem! Natus sequi velit aliquam inventore a, et, cum voluptate quod explicabo aperiam unde, cumque ipsum voluptate quod explicabo aperiam unde, cumque cum voluptate quod explicabo aperiam unde.</p>
        </div>
    </div>
</div>

