

        <div class="col-md-12 m-0 position-relative">
            <div class="imagen col-md-12 m-0 ">
                <img src="./assets/img/bg.jpg" class="img-fluid m-0" alt="...">
            </div>
                
            <div class="position-absolute top-50 start-50 translate-middle w-100 p-3 text-center">
                <h1 class="bg-light p-5" style="font-size: 100px;">One Page Wonder</h1>
                <h1 class="bg-light p-4" style="font-size: 75px;">Will Knock Your Socks Off</h1>
            </div>  
        </div>

